@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap);

.links,
.nav,
.percent,
.form form,
.books {
  align-items: center;
}

.nav,
.books {
  background-color: #fff;
  padding: 0 6.25rem;
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 500;
}

.links,
.nav,
.books,
.title-section,
.percent,
.form form {
  display: flex;
}

.icon {
  margin-left: auto;
}

.icon .fa-user {
  font-size: 25px;
  color: #0290ff;
  margin: 0 0 0 41.5rem;
  padding: 1rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  cursor: pointer;
}

.action-buttons button {
  padding: 0 1.063rem 0 1.063rem;
  font-family: Roboto Slab, serif;
  font-size: 1.275rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border: none;
  border-left: solid 1px #e8e8e8;
  background-color: #fff;
  cursor: pointer;
}

.action-buttons button:nth-child(1) {
  border-left: none;
  padding-left: 0;
}

.cat {
  width: 12.313rem;
  height: 1.813rem;
  margin-bottom: 0;
}

.author {
  font-family: Roboto Slab, serif;
  font-size: 1.3rem;
  font-weight: 300;
  color: #4386bf;
  margin-top: 10px;
  margin-bottom: 30px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.cat,
.current,
.add-book,
p {
  color: #121212;
  opacity: 50%;
}

.current {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0;
}

.progress-contain {
  margin-left: 30px;
}

.progress-contain h3 {
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}

.current-div {
  padding-bottom: 30px;
  width: 25%;
}

.inner {
  position: absolute;
  background-color: #fff;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chapter {
  margin: 15px 0;
}

p {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 30px;
}

.action-buttons {
  display: flex;
  margin-right: auto;
  justify-content: space-around;
}

.title-section {
  flex-direction: column;
}

.update-progress {
  padding: 1.2rem 1rem;
  font-size: 1.4rem;
  width: 250px;
}

.border {
  height: 6.375rem;
  border: solid 1px #e8e8e8;
}

.update-progress,
.submit {
  border-radius: 3px;
  background-color: #0290ff;
  font-family: Roboto Slab, serif;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}

.submit {
  padding: 1.2rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  width: 300px;
}

.books {
  justify-content: space-between;
  height: 10.625rem;
  margin: 2.313rem 4.8rem 0;
  padding: 2rem 0.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
}

.book,
.categories {
  margin-top: 150px;
}

.logo {
  color: #0290ff;
  width: 15rem;
  height: 2.313rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
}

.circle {
  position: relative;
  width: 5.25rem;
  height: 5.25rem;
  border-width: 5px;
  border-radius: 50%;
  border-image-source: linear-gradient(to bottom, #307bbe, #379cf6);
  border-image-slice: 1;
}

.form {
  justify-content: space-between;
  margin: 2.313rem 1.25rem 10rem;
  padding: 2rem 3.188rem;
}

.input-cat {
  width: 17.813rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  font-size: 1.5rem;
}

.input,
.selection {
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  font-size: 1.5rem;
}

.input {
  flex: 1;
  padding: 0.513rem 15.688rem 0.513rem 1.063rem;
  height: 2.813rem;
  width: 60%;
}

.selection {
  padding: 0.513rem 8.688rem 0.513rem 1.063rem;
  height: 70px;
  margin: 0 2.525rem;
}

.links li {
  list-style: none;
  width: 100px;
}

.links a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Roboto Slab, serif;
  width: 2.563rem;
  height: 1rem;
  margin: 1.125rem 2.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  letter-spacing: 1.9px;
}
